.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__qwNrv {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__qwNrv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qwNrv > :global(.__wab_flex-container) > *,
.freeBox__qwNrv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qwNrv > :global(.__wab_flex-container) > picture > img,
.freeBox__qwNrv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___9OnH1 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___9OnH1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___9OnH1 > :global(.__wab_flex-container) > *,
.freeBox___9OnH1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9OnH1 > :global(.__wab_flex-container) > picture > img,
.freeBox___9OnH1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__wm05Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__k2ndF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yQ0Ln {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__k6OJt:global(.__wab_instance) {
  position: relative;
}
.svg___7WGdl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__os5Qp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tKJjG:global(.__wab_instance) {
  position: relative;
}
.svg__o3GjM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tO6Ug {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lcodg:global(.__wab_instance) {
  position: relative;
}
.svg___6WAwl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z0Vcv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
