.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lPtcR {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__lPtcR > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__lPtcR > :global(.__wab_flex-container) > *,
.freeBox__lPtcR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lPtcR > :global(.__wab_flex-container) > picture > img,
.freeBox__lPtcR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lPtcR {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lPtcR > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lPtcR > :global(.__wab_flex-container) > *,
  .freeBox__lPtcR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lPtcR > :global(.__wab_flex-container) > picture > img,
  .freeBox__lPtcR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__hmEg9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hmEg9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hmEg9 > :global(.__wab_flex-container) > *,
.freeBox__hmEg9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hmEg9 > :global(.__wab_flex-container) > picture > img,
.freeBox__hmEg9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__filled__hmEg9Km5Cu > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.text__dsGwe {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.freeBox__zr2Lq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zr2Lq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zr2Lq > :global(.__wab_flex-container) > *,
.freeBox__zr2Lq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zr2Lq > :global(.__wab_flex-container) > picture > img,
.freeBox__zr2Lq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__amTKl {
  text-align: center;
}
.text__filled__amTKlKm5Cu {
  text-align: left;
}
.svg__v6R4U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__k03Co {
  display: none;
}
.svg__emnjH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gP8Q2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zpWWz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__w8N8J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__filled__w8N8JKm5Cu {
  top: auto;
  left: auto;
}
.freeBox__rw2Gr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rw2Gr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rw2Gr > :global(.__wab_flex-container) > *,
.freeBox__rw2Gr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rw2Gr > :global(.__wab_flex-container) > picture > img,
.freeBox__rw2Gr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___3Yoth {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background: #333333;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox___3Yoth > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3Yoth > :global(.__wab_flex-container) > *,
.freeBox___3Yoth > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Yoth > :global(.__wab_flex-container) > picture > img,
.freeBox___3Yoth
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__z5EoT {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__f8Gtl {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__f8Gtl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f8Gtl > :global(.__wab_flex-container) > *,
.freeBox__f8Gtl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f8Gtl > :global(.__wab_flex-container) > picture > img,
.freeBox__f8Gtl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___65L8J {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__kub3L {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot5 {
  color: #ffffff80;
}
.freeBox__mKfJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetChildren {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__npxEp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__uH4Wd {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__psCck {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.freeBox__htlIk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ztJcF {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___6W42M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot2 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__hdzy:global(.__wab_instance) {
  position: relative;
}
.svg___2C2Gv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xpMyZ {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg___7M0W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.freeBox__glZbh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__hoZ3B {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__oRLh6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot4 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button___0PnIh:global(.__wab_instance) {
  position: relative;
}
.svg__enuz3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__fEn2Q {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__qvoA1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___74Wxi {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___74Wxi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___74Wxi > :global(.__wab_flex-container) > *,
.freeBox___74Wxi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___74Wxi > :global(.__wab_flex-container) > picture > img,
.freeBox___74Wxi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text___2UvhM {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__mQh5 {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__mQh5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mQh5 > :global(.__wab_flex-container) > *,
.freeBox__mQh5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mQh5 > :global(.__wab_flex-container) > picture > img,
.freeBox__mQh5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__ccT6B {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__nu05A {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__d6Ph9 {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__wtrMu {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox__trcPm {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2f2f7;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__trcPm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__trcPm > :global(.__wab_flex-container) > *,
.freeBox__trcPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__trcPm > :global(.__wab_flex-container) > picture > img,
.freeBox__trcPm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__trcPm {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__trcPm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__trcPm > :global(.__wab_flex-container) > *,
  .freeBox__trcPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__trcPm > :global(.__wab_flex-container) > picture > img,
  .freeBox__trcPm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__rAgia {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__rAgia > picture > img {
  object-fit: cover;
}
.img__rAgia > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__dco90 {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dco90 > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__dco90 > :global(.__wab_flex-container) > *,
.freeBox__dco90 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dco90 > :global(.__wab_flex-container) > picture > img,
.freeBox__dco90
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dco90 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dco90 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dco90 > :global(.__wab_flex-container) > *,
  .freeBox__dco90 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dco90 > :global(.__wab_flex-container) > picture > img,
  .freeBox__dco90
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__ihxE3 {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ihxE3 {
    text-align: center;
  }
}
.button__wwK7C:global(.__wab_instance) {
  position: relative;
}
.svg__v3Ub6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y0Ff4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
