.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___30FwE {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-self: center;
  min-width: 0;
  padding: 32px;
}
.freeBox___30FwE > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___30FwE > :global(.__wab_flex-container) > *,
.freeBox___30FwE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___30FwE > :global(.__wab_flex-container) > picture > img,
.freeBox___30FwE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___30FwE {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___30FwE > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___30FwE > :global(.__wab_flex-container) > *,
  .freeBox___30FwE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___30FwE > :global(.__wab_flex-container) > picture > img,
  .freeBox___30FwE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__n3NO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  flex-shrink: 0;
}
.freeBox__n3NO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__n3NO > :global(.__wab_flex-container) > *,
.freeBox__n3NO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n3NO > :global(.__wab_flex-container) > picture > img,
.freeBox__n3NO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3NO {
    width: auto;
    display: inline-flex;
  }
}
.text__yo9C {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #d74444;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.freeBox__nghLa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nghLa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__nghLa > :global(.__wab_flex-container) > *,
.freeBox__nghLa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nghLa > :global(.__wab_flex-container) > picture > img,
.freeBox__nghLa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__xTroY {
  text-align: center;
}
.nftContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.nftCard:global(.__wab_instance) {
  position: relative;
  margin-bottom: 20px;
  min-height: auto;
  height: auto;
}
.button__q8Jmw:global(.__wab_instance) {
  display: none;
}
.svg__h9Mn5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jpDap {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__vpVE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__j6IIz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__j6IIz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__j6IIz > :global(.__wab_flex-container) > *,
.freeBox__j6IIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j6IIz > :global(.__wab_flex-container) > picture > img,
.freeBox__j6IIz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__rcaCa {
  display: flex;
  position: relative;
  width: 400px;
  flex-direction: column;
  background: #333333;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__rcaCa > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rcaCa > :global(.__wab_flex-container) > *,
.freeBox__rcaCa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rcaCa > :global(.__wab_flex-container) > picture > img,
.freeBox__rcaCa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rcaCa {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rcaCa > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__iv25G {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__tRwVm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tRwVm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tRwVm > :global(.__wab_flex-container) > *,
.freeBox__tRwVm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tRwVm > :global(.__wab_flex-container) > picture > img,
.freeBox__tRwVm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__z1XWe {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___5GwbQ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot5 {
  color: #ffffff80;
}
.freeBox__nd2Pe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.balanceText {
  position: relative;
  width: auto;
  height: auto;
  max-width: 191px;
  color: #ffffff;
  text-align: right;
  display: inline-block;
}
.separator__x0EQ:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.text__yEt2W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox___9YAlo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 9 / 12);
  }
}
.column__ho56W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.svg__xQnYf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.svg__dgI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__rcMb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__rdbhu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__e1Mre {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v61EJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__l4S5J:global(.__wab_instance) {
  position: relative;
}
.svg__uApxm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___3YUm {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__bBaxU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator__r1TBu:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.button__xQau:global(.__wab_instance) {
  position: relative;
}
.svg__zrDxN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__wmaaG {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__u5GGs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__mZdDd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__mZdDd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__mZdDd > :global(.__wab_flex-container) > *,
.freeBox__mZdDd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mZdDd > :global(.__wab_flex-container) > picture > img,
.freeBox__mZdDd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__udmup {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__xh5OC {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__lQaFa {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__lQaFa > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lQaFa > :global(.__wab_flex-container) > *,
.freeBox__lQaFa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lQaFa > :global(.__wab_flex-container) > picture > img,
.freeBox__lQaFa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__d6Uyc {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__ijojq {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__pHjDc {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__nJyeW {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.freeBox__oOh1 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2f2f7;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__oOh1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__oOh1 > :global(.__wab_flex-container) > *,
.freeBox__oOh1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oOh1 > :global(.__wab_flex-container) > picture > img,
.freeBox__oOh1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOh1 {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOh1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOh1 > :global(.__wab_flex-container) > *,
  .freeBox__oOh1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oOh1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__oOh1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img__zuJsJ {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img__zuJsJ > picture > img {
  object-fit: cover;
}
.img__zuJsJ > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__z2Gu {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__z2Gu > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__z2Gu > :global(.__wab_flex-container) > *,
.freeBox__z2Gu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z2Gu > :global(.__wab_flex-container) > picture > img,
.freeBox__z2Gu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z2Gu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z2Gu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z2Gu > :global(.__wab_flex-container) > *,
  .freeBox__z2Gu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__z2Gu > :global(.__wab_flex-container) > picture > img,
  .freeBox__z2Gu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__cqdlN {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cqdlN {
    text-align: center;
  }
}
.button__d93GC:global(.__wab_instance) {
  position: relative;
}
.svg__kpCz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0OwL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
