.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__glTxZ {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__glTxZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__glTxZ > :global(.__wab_flex-container) > *,
.freeBox__glTxZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__glTxZ > :global(.__wab_flex-container) > picture > img,
.freeBox__glTxZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__lIPp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__tH5Zh {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___0Ilet {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___9XZv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__laGot:global(.__wab_instance) {
  position: relative;
}
.svg__vqsfg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iop5V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__vBoF8:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ga2Kk {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__gNoKm {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__vj5L3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__sZxxs:global(.__wab_instance) {
  position: relative;
}
.svg__a4JU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bOe7Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__uy72N:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___81WVf {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__ra4RF {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__diNuQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__mrUdA:global(.__wab_instance) {
  position: relative;
}
.svg__u9MPh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8JFAc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
