.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > :global(.__wab_flex-container) > *,
  .section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .section > :global(.__wab_flex-container) > picture > img,
  .section
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__wwCcM {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-self: center;
  min-width: 0;
  padding: 32px;
}
.freeBox__wwCcM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__wwCcM > :global(.__wab_flex-container) > *,
.freeBox__wwCcM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwCcM > :global(.__wab_flex-container) > picture > img,
.freeBox__wwCcM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wwCcM {
    max-width: 1024px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wwCcM > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wwCcM > :global(.__wab_flex-container) > *,
  .freeBox__wwCcM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wwCcM > :global(.__wab_flex-container) > picture > img,
  .freeBox__wwCcM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.freeBox__h9Lq6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 400px;
  flex-shrink: 0;
}
.freeBox__h9Lq6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__h9Lq6 > :global(.__wab_flex-container) > *,
.freeBox__h9Lq6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h9Lq6 > :global(.__wab_flex-container) > picture > img,
.freeBox__h9Lq6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h9Lq6 {
    width: auto;
    display: inline-flex;
  }
}
.text__tBcSa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  text-align: center;
}
.cartItem:global(.__wab_instance) {
  position: relative;
}
.freeBox__pb5Um {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pb5Um > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pb5Um > :global(.__wab_flex-container) > *,
.freeBox__pb5Um > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pb5Um > :global(.__wab_flex-container) > picture > img,
.freeBox__pb5Um
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__frKxh {
  text-align: center;
}
.freeBox__k9B8U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
}
.freeBox__ju6AC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__mNyb:global(.__wab_instance) {
  position: relative;
}
.svg__xb0T9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qc0Zk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__tuJxq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tuJxq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tuJxq > :global(.__wab_flex-container) > *,
.freeBox__tuJxq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tuJxq > :global(.__wab_flex-container) > picture > img,
.freeBox__tuJxq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__dUhyo {
  display: flex;
  position: relative;
  width: 400px;
  flex-direction: column;
  background: #333333;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__dUhyo > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dUhyo > :global(.__wab_flex-container) > *,
.freeBox__dUhyo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dUhyo > :global(.__wab_flex-container) > picture > img,
.freeBox__dUhyo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUhyo {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUhyo > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__qa4Gt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__jJi4L {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jJi4L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jJi4L > :global(.__wab_flex-container) > *,
.freeBox__jJi4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jJi4L > :global(.__wab_flex-container) > picture > img,
.freeBox__jJi4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__fVq9B {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__zT3Vp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot5 {
  color: #ffffff80;
}
.freeBox___3Yq2M {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.balanceText {
  position: relative;
  width: auto;
  height: auto;
  max-width: 191px;
  color: #ffffff;
  text-align: right;
  display: inline-block;
}
.freeBox__fuDiJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__vH42K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
.slotTargetSlot2 {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}
.button__iplbw:global(.__wab_instance) {
  position: relative;
}
.svg__cMr5U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.walletLogout {
  text-align: center;
  text-decoration-line: underline !important;
  color: #ffffff;
}
.svg__u390M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.separator:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  flex-shrink: 0;
}
.button__iiDMb:global(.__wab_instance) {
  position: relative;
}
.svg__prW2V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__t314K {
  width: 100%;
  text-align: center;
  height: auto;
  min-width: 0;
}
.svg__xn0Jm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__pUk0E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pUk0E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pUk0E > :global(.__wab_flex-container) > *,
.freeBox__pUk0E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pUk0E > :global(.__wab_flex-container) > picture > img,
.freeBox__pUk0E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__dwf0Z {
  position: relative;
  object-fit: cover;
  color: #ffffff80;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text__nOcXo {
  color: #ffffff80;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__zfgTc {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 32px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zfgTc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zfgTc > :global(.__wab_flex-container) > *,
.freeBox__zfgTc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zfgTc > :global(.__wab_flex-container) > picture > img,
.freeBox__zfgTc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__eZ1Yy {
  position: relative;
  left: auto;
  top: auto;
  width: 48px;
  flex-shrink: 0;
}
.img__vOrxi {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__sEziH {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.img__yvwF {
  position: relative;
  width: 48px;
  flex-shrink: 0;
}
.nftContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.nftCard:global(.__wab_instance) {
  position: relative;
  min-height: auto;
  height: auto;
  max-height: none;
  margin: 0px 20px 20px 0px;
}
.button__heSrH:global(.__wab_instance) {
  display: none;
}
.svg___0Zw5P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mAh7K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__kNk1H {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: #f2f2f7;
  min-width: 0;
  border-radius: 16px;
  padding: 32px;
}
.freeBox__kNk1H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kNk1H > :global(.__wab_flex-container) > *,
.freeBox__kNk1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kNk1H > :global(.__wab_flex-container) > picture > img,
.freeBox__kNk1H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kNk1H {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kNk1H > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kNk1H > :global(.__wab_flex-container) > *,
  .freeBox__kNk1H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kNk1H > :global(.__wab_flex-container) > picture > img,
  .freeBox__kNk1H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img___5CU51 {
  position: relative;
  object-fit: cover;
  height: 32px;
}
.img___5CU51 > picture > img {
  object-fit: cover;
}
.img___5CU51 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__uGcVv {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__uGcVv > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__uGcVv > :global(.__wab_flex-container) > *,
.freeBox__uGcVv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uGcVv > :global(.__wab_flex-container) > picture > img,
.freeBox__uGcVv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uGcVv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uGcVv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uGcVv > :global(.__wab_flex-container) > *,
  .freeBox__uGcVv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uGcVv > :global(.__wab_flex-container) > picture > img,
  .freeBox__uGcVv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.text__g70RI {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g70RI {
    text-align: center;
  }
}
.button__qrAja:global(.__wab_instance) {
  position: relative;
}
.svg__pOopT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oQOf8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
