.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__omiZn {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__omiZn {
    padding-bottom: 0px;
  }
}
.img {
  position: absolute;
  width: 100%;
  opacity: 0.25;
  min-width: 0;
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__pRmKi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
}
.freeBox__pRmKi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pRmKi > :global(.__wab_flex-container) > *,
.freeBox__pRmKi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pRmKi > :global(.__wab_flex-container) > picture > img,
.freeBox__pRmKi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___3Q9Ed {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3Q9Ed > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3Q9Ed > :global(.__wab_flex-container) > *,
.freeBox___3Q9Ed > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Q9Ed > :global(.__wab_flex-container) > picture > img,
.freeBox___3Q9Ed
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__tdVZb {
  width: 100%;
  height: auto;
  text-align: center;
  color: #333333 /* plasmic-token: wQIW2xdooUi1 */;
  min-width: 0;
}
.button___0GztJ:global(.__wab_instance) {
  position: relative;
}
.svg__wrJLk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qjOcf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__hGjm {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__guyX {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__e6PmH {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__z1P0N:global(.__wab_instance) {
  position: relative;
}
.svg___05WoN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uOaVg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.nftCard__cWri:global(.__wab_instance) {
  position: relative;
}
.svg__hGh0E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8622Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__j5Uyo:global(.__wab_instance) {
  position: relative;
}
.nftCard___8E0V:global(.__wab_instance) {
  position: relative;
}
.svg__zCmTh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ykGF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__rTwX8:global(.__wab_instance) {
  position: relative;
}
.nftCard__mXh:global(.__wab_instance) {
  position: relative;
}
.svg___3JYi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yeLx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__dVmsZ:global(.__wab_instance) {
  position: relative;
}
.nftCard__ds2AE:global(.__wab_instance) {
  position: relative;
}
.svg__x1Bw4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v08KW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__cvRGg:global(.__wab_instance) {
  position: relative;
}
.nftCard__xbXja:global(.__wab_instance) {
  position: relative;
}
.svg__s9DFu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__csaeJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__iMGc:global(.__wab_instance) {
  position: relative;
}
.nftCard__mb2Of:global(.__wab_instance) {
  position: relative;
}
.svg__zVqfa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zZov {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__jddNi:global(.__wab_instance) {
  position: relative;
}
.section___5Abp1 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__kMl4B {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__kMl4B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kMl4B > :global(.__wab_flex-container) > *,
.freeBox__kMl4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kMl4B > :global(.__wab_flex-container) > picture > img,
.freeBox__kMl4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kMl4B {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kMl4B > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kMl4B > :global(.__wab_flex-container) > *,
  .freeBox__kMl4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kMl4B > :global(.__wab_flex-container) > picture > img,
  .freeBox__kMl4B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__iUYuc {
  display: flex;
  flex-direction: column;
}
.freeBox__iUYuc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iUYuc > :global(.__wab_flex-container) > *,
.freeBox__iUYuc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iUYuc > :global(.__wab_flex-container) > picture > img,
.freeBox__iUYuc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jb09Q {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jb09Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jb09Q > :global(.__wab_flex-container) > *,
.freeBox__jb09Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jb09Q > :global(.__wab_flex-container) > picture > img,
.freeBox__jb09Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__npxIo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__g30U4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox___2MyOk {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2MyOk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___2MyOk > :global(.__wab_flex-container) > *,
.freeBox___2MyOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2MyOk > :global(.__wab_flex-container) > picture > img,
.freeBox___2MyOk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2MyOk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2MyOk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2MyOk > :global(.__wab_flex-container) > *,
  .freeBox___2MyOk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2MyOk > :global(.__wab_flex-container) > picture > img,
  .freeBox___2MyOk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__z0GO6 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg__iYt5G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1YiMr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__vd66W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___1NaVw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__kiJsz {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__gYxfU {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__suIvi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__xbV8W:global(.__wab_instance) {
  position: relative;
}
.svg__ls6QQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lTkWo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__li3Nz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__ipEm4:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__bEddN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__igfjd {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__jUfe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__mw875:global(.__wab_instance) {
  position: relative;
}
.svg__z3CLz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ebkrX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__uk2Go {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__iPa1B:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__iPa1B:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uv2T {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__pfArt {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___8AEL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__xeW74:global(.__wab_instance) {
  position: relative;
}
.svg___83Pix {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__y6I64 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__vL1EN {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__vQjOy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__tj8Y {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__h0M8S:global(.__wab_instance) {
  position: relative;
}
.svg__dhB9T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iudZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__kYgd {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__kYgd > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kYgd > :global(.__wab_flex-container) > *,
.freeBox__kYgd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kYgd > :global(.__wab_flex-container) > picture > img,
.freeBox__kYgd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg___81OkO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uc9CH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__swcHm:global(.__wab_instance) {
  position: relative;
}
.nftCard__jqpcu:global(.__wab_instance) {
  position: relative;
}
.svg__dAr0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3ZcU7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__exfsp:global(.__wab_instance) {
  position: relative;
}
.nftCard__v88Pl:global(.__wab_instance) {
  position: relative;
}
.svg__zsABa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rbteY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__w7MM4:global(.__wab_instance) {
  position: relative;
}
.nftCard__g63UI:global(.__wab_instance) {
  position: relative;
}
.svg__h4Dgc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kEpyJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__seErb:global(.__wab_instance) {
  position: relative;
}
.nftCard__cWhlg:global(.__wab_instance) {
  position: relative;
}
.svg__wftd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___33Qwm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___7YtTz:global(.__wab_instance) {
  position: relative;
}
.nftCard__ow4Zn:global(.__wab_instance) {
  position: relative;
}
.svg__gIPzc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pNyPg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__xivwL:global(.__wab_instance) {
  position: relative;
}
.section__wycRx {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__w0InW {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__w0InW > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__w0InW > :global(.__wab_flex-container) > *,
.freeBox__w0InW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w0InW > :global(.__wab_flex-container) > picture > img,
.freeBox__w0InW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__vr76P {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__bmaZ7:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__rfCu6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__dOh4O {
  height: auto;
}
.svg__gPrA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__afHo:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__hIIup {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pDt5B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xz05L:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__t17La {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mvaei {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yLrOh:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__qxzHv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vZzbS {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__lNvkE:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__m3Eye {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___54BEd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zwkiX:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__pMq2B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oA4Ux {
  height: auto;
}
.svg___5NKqL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__pyrlB {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pyrlB > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pyrlB > :global(.__wab_flex-container) > *,
.freeBox__pyrlB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pyrlB > :global(.__wab_flex-container) > picture > img,
.freeBox__pyrlB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pyrlB > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.nftCard__nxX51:global(.__wab_instance) {
  position: relative;
}
.svg__eCy5S {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kyaiw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__fhtik:global(.__wab_instance) {
  position: relative;
}
.nftCard__eiAxZ:global(.__wab_instance) {
  position: relative;
}
.svg__kAriN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4CVkF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__rQcKp:global(.__wab_instance) {
  position: relative;
}
.nftCard___1BAts:global(.__wab_instance) {
  position: relative;
}
.svg__z6Kl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l8Puq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__gMy:global(.__wab_instance) {
  position: relative;
}
.nftCard__sWpAy:global(.__wab_instance) {
  position: relative;
}
.svg___59Lq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gifHo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__e5LEc:global(.__wab_instance) {
  position: relative;
}
.nftCard___4LdGb:global(.__wab_instance) {
  position: relative;
}
.svg__auEna {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ueNhz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__o1SoE:global(.__wab_instance) {
  position: relative;
}
.nftCard__eAwVd:global(.__wab_instance) {
  position: relative;
}
.svg__gxdv2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kIwtl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___8Wvma:global(.__wab_instance) {
  position: relative;
}
.nftCard__awZjf:global(.__wab_instance) {
  position: relative;
}
.svg__lGLkM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0MYo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__lw887:global(.__wab_instance) {
  position: relative;
}
.nftCard__j838J:global(.__wab_instance) {
  position: relative;
}
.svg__a3Let {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iduUe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__d8Gvw:global(.__wab_instance) {
  position: relative;
}
.nftCard__ltUO:global(.__wab_instance) {
  position: relative;
}
.svg___9YNgC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ygDu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___6Wwjd:global(.__wab_instance) {
  position: relative;
}
.nftCard__qaIis:global(.__wab_instance) {
  position: relative;
}
.svg__heHj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kcrG6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__cZEk:global(.__wab_instance) {
  position: relative;
}
.nftCard__f2Xn:global(.__wab_instance) {
  position: relative;
}
.svg__dki9R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bKznw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating__n9Uny:global(.__wab_instance) {
  position: relative;
}
.nftCard___52Ywm:global(.__wab_instance) {
  position: relative;
}
.svg__cYiIr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wv54G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.rating___9Alfa:global(.__wab_instance) {
  position: relative;
}
.section___7ZcA3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__rGljP:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__ybv9L {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__mYbtL {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___4Sk4L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__akG4L:global(.__wab_instance) {
  position: relative;
}
.svg___5Yfks {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__u8TzA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__zjCeZ {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__eZCv8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__uu8Aj:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__uu8Aj:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__eI1Ch {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__stGgx {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__o4Njp:global(.__wab_instance) {
  position: relative;
}
.svg___5ZlH7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3N4Hv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__q8Pbe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__eqoCw:global(.__wab_instance) {
  position: relative;
}
.svg__u4Bdx {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rTQp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__fO9Hq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value___8T0Jw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___8T0Jw:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__spm9R {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___9O4CG {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___4X9N:global(.__wab_instance) {
  position: relative;
}
.svg__f5Pa6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rcnUd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__joK1E {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__bswnk:global(.__wab_instance) {
  position: relative;
}
.svg__jJ7FA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vump2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__bavvi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__wYdxu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__wYdxu:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__mPim0 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__afKk3 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__tzOPg:global(.__wab_instance) {
  position: relative;
}
.svg__jAeuQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vQxaa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ljkvm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__j8Ham:global(.__wab_instance) {
  position: relative;
}
.svg__fhLvn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__k2XzH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__zorAr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__rCiGs:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__rCiGs:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__j30Nb {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__xcubt {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__rF0Mz:global(.__wab_instance) {
  position: relative;
}
.svg__zLUrc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tG5H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__n1U8 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___3MrhE:global(.__wab_instance) {
  position: relative;
}
.svg__c8TFo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__g2TRh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
